*{
    margin: 5px;
}

.mainBox{
    display: flex;
    justify-content: center;
    text-align: center;
flex-direction: column;
border: 2px solid black;
background-color: yellow(185, 123, 135);
}
.header{
    background-color: rgb(213, 88, 88);
    justify-content: center;
    text-align: center;
    color: white;
}

#myform{
justify-content: center;
text-align: left;
}
#display{
    justify-content: center;
text-align: left;

}

li{
background-color: rgba(6, 8, 11, 0.019);
border-radius: 3px;
width: 50vw;
height: 25px;
padding: 5px 1px;
text-align: left;
justify-content: left;
}